
<div class="pop-up-photo ab-lec">
    <div class="photo ab-lec">
        <img ng-src="img/lectors/{{Data.lector_id}}.jpeg">
    </div>
    <p class="td-lec place about ab-lec">{{Lector.name}}</p>
    <p class="td-lec place about ab-lec work">{{Lector.workplace}}</p>
    <button ng-click="$root.go('lector_lections', { 'name' : 'all', 'lector' : Lector.id})" class="replay-button ab-lec">ВСЕ ЛЕКЦИИ</button>
</div>
<div class="text-about-lector ab-lec">
    <p class="text-h1 ab-lec">{{Data.lection_name}}</p>
    <p class="date ab-lec">{{(dateParsed | date:'dd MMMM yyyy, HH:mm')+  " - " + (GetEndTime(dateParsed, Data.duration )  | date:'HH:mm,') + "  " + GetPlace(Data.place_id)}}
        <a title="{{value.name}}" class="a min-sc" ng-repeat="(key, value) in schools" ui-sref="school_lections({ 'name' : value.url })"><span  ng-show="hasSchool(value.id, Data.lection_schools)" class="school-min" ng-style="{color : value.color }">{{value.short}}</span></a>
    </p>

    <p class="td-lec lector about ab-lec">{{Data.about}}</p>
    <div class="youtube-wrap" ng-show="Data.video_link"> <div class="youtube" ><iframe width="100%"  ng-src="{{ytUrl}}" frameborder="0" allowfullscreen></iframe></div></div>
    <div class="edit icon article" ng-click="$root.go('edit_lection', { 'id' : Data.lection_id})">Изменить</div>
</div>
