<p class="text-h1">Лекции - {{month ? ((date | date:'d') +  ' ' + (month | date:'MMMM yyyy') )  : ""}} {{lector ? (GetLector(lector) ) : "" }}  {{!place ? schoolName : ''}} {{place ? ("аудитория " + GetPlace(place)) : ""}} </p>
<div ng-show="current" class="footer-about counter"><b>{{countOfStudents}}</b> человек</div>
<div ng-show="place" class="footer-about counter">вместимость <b>{{  + place ?  GetPlaceMax(place) : '' }}</b> человек</div>
<div class="controls">
    <div class="edit icon school" ng-show="current" ng-click="$root.go('edit_school', { 'name' : current})">Изменить школу</div>
    <div class="add icon school" ng-show="current" ng-click="$root.go('create_school', {})">Добавить школу</div>
    <div class="add icon school" ng-show="current || month || place || lector" ng-click="$root.go('create_lection', {'name' : current, 'date' : date ? date : month, 'place' : place, 'lector' : lector})">Добавить лекцию</div>
    <div class="edit icon school" ng-show="place" ng-click="$root.go('edit_place', { 'place' : place})">Изменить аудиторию</div>
    <div class="add icon school" ng-show="place" ng-click="$root.go('create_place', {})">Создать аудиторию</div>
</div>
<div class="lection" ng-repeat="item in Data" >
    <div class="month-separator"   ng-hide = "(toDate(item.date) | date:'MMMM yyyy') === (toDate(Data[$index - 1].date) | date:'MMMM yyyy')">
        <span class="text-h4"   ng-click="$root.go('lections_date_month', { 'name' : current, 'month' : toDate(item.date, 'MM'), 'year' : toDate(item.date, 'yyyy')  })" >{{(toDate(item.date) | date:'MMMM yyyy')}}</span>
    </div>
    <table class="lection-table">
        <tbody>
        <tr class="lection-tr">
            <td class="td-lec date"><div class="date-rounded" ng-click="$root.go('lections_date', { 'month' : toDate(item.date, 'MM'), 'date' : toDate(item.date, 'dd'), 'year' : toDate(item.date, 'yyyy')})" ng-class="item.passed == true ? 'passed'  : ''">{{(toDate(item.date) | date:'dd')}}</div></td>
            <td class="td-lec lection-name"> <a ui-sref="about_lection({ id: item.lection_id })" ng-class="item.passed ? 'passed'  : ''"><div ng-show="item.passed" class="play-icon"></div>  Лекция {{$index+1}}. {{item.lection_name}} <br> <small>{{" " + toDate(item.date, 'HH:mm')+  " - " + (GetEndTime(toDate(item.date), item.duration)  | date:'HH:mm')}}</small></a></td>
            <td class="td-lec lector" ng-click="ShowLector($event, item.lector_id)">{{GetLector(item.lector_id)}}</td>
            <td class="td-lec place"> <a ui-sref="lections_by_place({ 'name' : 'all', 'place' : item.place_id })">{{GetPlace(item.place_id)}}</a></td>
            <td class="td-lec schools" >
                <a title="{{value.name}}" class="a min-sc" ng-repeat="(key, value) in schools" ui-sref="school_lections({ 'name' : value.url })"><span  ng-show="hasSchool(value.id, item.lection_schools)" class="school-min" ng-style="{color : value.color }">{{value.short}}</span></a>
            <button class="replay-button lec" ng-show="item.passed && item.video_link" ng-click="$root.go('about_lection', { 'id' : item.lection_id})"    ><div ng-show="item.passed" class="play-icon btn lec"></div><span class="button-text"> ЗАПИСЬ</span></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<notfound ng-hide="Data.length"></notfound>